body
{
    padding-top: 20px;
}
p
{
    text-decoration: underline;
}
.col
{
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin: 5px;
    text-align: center;
}
.col:nth-child(3n)
{
    border-right: 1px solid black;
}
.table tr:last-child .col
{
    border-bottom: 1px solid black;
}
#statut
{
    margin-bottom: 10px;
    color: red;
}
